{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="collapse">
            <h3 class="display-3">Welcome to our blog!!</h3>
                <p>We are a team of passionate individuals who are dedicated to providing insightful and informative content on a wide range of topics. From technology and business to lifestyle and culture, our blog covers it all.</p>

                <p> goal is to create a platform where people can come together to share ideas, discuss important issues, and learn from each other. We believe that knowledge is power, and we strive to empower our readers by providing them with the latest news, trends, and opinions on a variety of subjects.</p>
                
                <p>Our team consists of writers, editors, and contributors who are experts in their respective fields. We work hard to ensure that our content is accurate, reliable, and up-to-date, and we are committed to providing our readers with the highest quality information possible.</p>
                
                <p>Whether you are looking for advice on how to start a business, the latest tech gadgets, or tips for living a healthy lifestyle, you can find it all here on our blog. We are constantly updating our content to keep up with the latest trends and developments, so be sure to check back often for new and exciting articles.</p>
                
                <p>Thank you for visiting our blog, and we hope that you find our content helpful and informative. If you have any questions or feedback, please don't hesitate to get in touch. We would love to hear from you!</p>
        </div>
        <p> <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></p>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Sathwara Parth</h2>
                <p>An independent and self-motivated graduate with proven ability and experienced in Data Science projects with Machine learning, DS and algorithms. I have also participated in various competitions of competitive programming. Recognized by professors, colleagues, and peers as a personable, dedicated performer who demonstrates innovation, communication and teamwork to ensure quality, timely project completion.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Patel Haard</h2>
                <p>Bewkoof insaan!!!!!!!!!!!!!!</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>
{% endblock %}